/*
Syntax error: Undefined variable: "$red".
        on line 96 of /home/willis/octopress/sass/partials/_blog.scss
        from line 3 of /home/willis/octopress/sass/_partials.scss
        from line 9 of /home/willis/octopress/sass/screen.scss

Backtrace:
/home/willis/octopress/sass/partials/_blog.scss:96
/home/willis/octopress/sass/_partials.scss:3
/home/willis/octopress/sass/screen.scss:9
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/script/variable.rb:49:in `_perform'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/script/node.rb:40:in `perform'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `map'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/tree/root_node.rb:20:in `render'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/engine.rb:315:in `_render'
/home/willis/.rvm/gems/ruby-2.1.5/gems/sass-3.2.19/lib/sass/engine.rb:262:in `render'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:139:in `block (2 levels) in compile'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:138:in `block in compile'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/logger.rb:45:in `red'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:137:in `compile'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:118:in `compile_if_required'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `each'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:101:in `block in run'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:126:in `timed'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/compiler.rb:100:in `run'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/commands/update_project.rb:45:in `perform'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/commands/base.rb:18:in `execute'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/commands/project_base.rb:19:in `execute'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/bin/compass:30:in `block in <top (required)>'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/bin/compass:44:in `call'
/home/willis/.rvm/gems/ruby-2.1.5/gems/compass-0.12.7/bin/compass:44:in `<top (required)>'
/home/willis/.rvm/gems/ruby-2.1.5/bin/compass:23:in `load'
/home/willis/.rvm/gems/ruby-2.1.5/bin/compass:23:in `<main>'
/home/willis/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `eval'
/home/willis/.rvm/gems/ruby-2.1.5/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$red\".\A         on line 96 of /home/willis/octopress/sass/partials/_blog.scss\A         from line 3 of /home/willis/octopress/sass/_partials.scss\A         from line 9 of /home/willis/octopress/sass/screen.scss"; }
